.mai {
    .mai_ro {
        border: 7px solid darkgreen;
        .mai_ro_blo1 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            border: 7px solid darkgreen;
            row-gap: 27px;
            @include medi_scree3 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border: 7px solid darkgreen;
                row-gap: 57px;
            }

            @include medi_scree4 {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                border: 7px solid darkgreen;
                row-gap: 73px;
            }
            .mai_ro_blo1_im1 {
                max-width: 73px;
                max-height: 73px;
                margin-top: -179px;
                fill: #EF4C4C;
                margin-bottom: -53px;
            }
            .mai_ro_blo1_nm1 {
                align-self: center;
                font-style: normal;
                color: black;
                font-size: 17px;
                font-family: "Murecho", sans-serif;
                border: 7px solid darkgreen;
                @include medi_scree3 {
                    align-self: center;
                    font-style: normal;
                    color: black;
                    font-size: 17px;
                    font-family: "Murecho", sans-serif;
                    border: 7px solid darkgreen; 
                }

                @include medi_scree4 {
                    align-self: flex-start;
                    font-style: normal;
                    color: black;
                    font-size: 17px;
                    font-family: "Murecho", sans-serif;
                    border: 7px solid darkgreen; 
                }
            }

            .mai_ro_blo1_descr1 {
                align-self: flex-start;
                font-style: normal;
                color: #505050;
                font-size: 15px;
                font-family: "Source Sans 3", sans-serif;
                border: 7px solid darkgreen;
            }

            .mai_ro_blo1_nm2 {
                align-self: flex-start;
                font-style: normal;
                color: #353535;
                font-size: 15px;
                font-family: "Murecho", sans-serif;
                border: 7px solid darkgreen;
                @include medi_scree3 {
                    align-self: center;
                    font-style: normal;
                    color: #353535;
                    font-size: 15px;
                    font-family: "Murecho", sans-serif;
                    border: 7px solid darkgreen;
                }
                @include medi_scree4 {
                    align-self: flex-start;
                    font-style: normal;
                    color: black;
                    font-size: 17px;
                    font-family: "Murecho", sans-serif;
                    border: 7px solid darkgreen; 
                }
            }

            .mai_ro_blo1_descr2 {
                align-self: flex-start;
                font-style: normal;
                color: #5A5A5A;
                font-size: 15px;
                font-family: "Source Sans 3", sans-serif;
                border: 7px solid darkgreen;
            }
            
            .mai_ro_blo1_but1 {
                align-self: flex-end;
                width: 159px;
                height: 35px;
                background-color: transparent;
                border: 1px solid #EF4C4C;
                cursor: pointer;
                font-style: normal;
                color: black;
                font-size: 15px;
                font-family: "Murecho", sans-serif;
                transition: 0.5s;
                &:hover {
                    width: 159px;
                    height: 35px;
                    background-color: #EF4C4C;
                    border: 1px solid #EF4C4C;
                    cursor: pointer;
                    font-style: normal;
                    color: white;
                    font-size: 15px;
                    font-family: "Murecho", sans-serif;
                }
                @include medi_scree3 {
                    align-self: center;
                    width: 159px;
                    height: 35px;
                    background-color: transparent;
                    border: 1px solid #EF4C4C;
                    cursor: pointer;
                    font-style: normal;
                    color: black;
                    font-size: 15px;
                    font-family: "Murecho", sans-serif;
                    transition: 0.5s;
                    &:hover {
                        width: 159px;
                        height: 35px;
                        background-color: #EF4C4C;
                        border: 1px solid #EF4C4C;
                        cursor: pointer;
                        font-style: normal;
                        color: white;
                        font-size: 15px;
                        font-family: "Murecho", sans-serif;
                    }
                }
                @include medi_scree4 {
                    align-self: flex-start;
                    width: 159px;
                    height: 35px;
                    background-color: transparent;
                    border: 1px solid #EF4C4C;
                    cursor: pointer;
                    font-style: normal;
                    color: black;
                    font-size: 15px;
                    font-family: "Murecho", sans-serif;
                    transition: 0.5s;
                    &:hover {
                        width: 159px;
                        height: 35px;
                        background-color: #EF4C4C;
                        border: 1px solid #EF4C4C;
                        cursor: pointer;
                        font-style: normal;
                        color: white;
                        font-size: 15px;
                        font-family: "Murecho", sans-serif;
                    }
                }
            }
        }
    }
}